<h1>Editer le gossip</h1>

 <%= form_for @gossip do |f| %>

   <div>

      <label>Vous êtes ?</label>

      <%= f.text_field :anonymous_author %>

   </div>

   <div>

      <label>Contenu du gossip</label>

      <%= f.text_area :content %>

   </div>

   <div>

      <button type="submit" >Editer le gossip</button>

   </div>

   <%= link_to 'Clique pour détruire', @gossip, method: :delete %>

 <% end %>
